*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg-container{
    height: 100vh;
    width: 100vw;
    background-color: beige;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    height: 40%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}
.in{
    height: 15%;
    width: 20%;
}
.btn{
    height: 15%;
    width: 20%;
    border-radius: 15px;
    background-color: blue;
    color: white;
}
